.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*


vendor/*
/upload
/app/config/database.php
/app/config/config.php
