:root {
    --main-color: #ff9c00
}

body {
    direction: rtl;
}

body, ul, li, a {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style: none;
    width: 100%;
    text-align: center;
}

footer ul li a {
    padding: 5px 10px;
    display: block;
    color: #868686;
    background: #f1f1f1;
}

footer ul li a:hover {
    color: #5a5a5a;
    background: #e0e0e0;
    text-decoration: none;
}


footer ul li a span {
    display: block;
    margin: 0;
    padding: 0;
}

footer ul li a span:nth-child(1) {
    font-size: 18px;
    position: relative;
}

footer ul li a span:nth-child(2) {
    font-size: 12px;
    margin-top: -5px;
}

footer ul li a span.basket-counter {
    display: block;
    position: absolute;
    top: 0;
    left: -18px;
    background: crimson;
    font-size: 12px;
    color: white;
    width: 23px;
    height: 16px;
    text-align: center;
    border-radius: 4px;
    line-height: 1.3;
}


/** market product */
div.card-body {
    display: flex;
}

img.product-cover {
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding: 10px;
}

img.product-cover-sm {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.product-title {
    color: var(--main-color);
    font-size: 11px;
}

.product-title-sm {
    color: var(--main-color);
    font-size: 15px;
    margin-bottom: 5px;
}

.product-info {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.product-price {
    font-size: 14px;
    color: #06ba3a;
}

.product-price-sm {
    font-size: 17px;
    color: #06ba3a;
    margin-bottom: 0;
}

.product-price span {
    font-size: 11px;
    padding: 5px;
    color: #908c76;
}

.product-price-sm span {
    font-size: 12px;
    padding: 2px;
    color: #908c76;
}

div.product-count {
    width: 100px;
}

.product-item-total-price {
    margin-top: 100%;
    font-size: 13px;
}

.btn-remove-item {
    position: absolute;
    left: -50px;
}

div.product-count input[type=number]::-webkit-inner-spin-button,
div.product-count input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.product-count, div.basket-product-count input {
    height: 25px;
    width: 60px;
}

div.product-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
}

div.product-count, div.basket-product-count i {
    cursor: pointer;
}

/** style basket 2 */

div.basket-product-count input[type=number]::-webkit-inner-spin-button,
div.basket-product-count input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

div.basket-product-count {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div.product-addCart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-info2 {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 90px;
}

img.product-cover2 {
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 1px;
    margin-right: -28px;
    background: #d9dadb;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-remove-item2 {

}

._font-size {
    font-size: 13px !important;
}

nav.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(125, 125, 125, 0.1);
    margin-bottom: 20px;
    padding: 0;
}

nav.menu div.links:nth-child(1) {
    /*font-size: 15px;*/
}

nav.menu div.links {
    position: relative;
}

nav.menu div.links a {
    padding: 12px 11px;
    color: #b6b6b6;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    position: relative;
}

nav.menu div.links a:hover {
    color: #3c3c3c;
}

nav.menu div.links a:hover:after {
    background: var(--main-color);
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
}

div.searchBox {
    display: block;
    position: absolute;
    left: 0;
    bottom: -25px;
}

div.searchBox i {
    color: rgb(139, 139, 139);
    position: absolute;
    top: 25%;
    left: 10px;
    cursor: pointer;
}

div.searchBox input.i-search {
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    padding: 4px 10px 4px 25px;
    font-size: 13px;
    line-height: 1.8;
    color: #858585;
}

.basket-counter {
    position: absolute;
    background: var(--main-color);
    color: white;
    width: 17px;
    height: 17px;
    display: flex;
    top: 5px;
    right: -5px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.btn-refresh-factor {
    position: absolute;
    left: 20px;
}

/** product page style */
div.product-info-2 {
    width: 100%;
    height: max-content;
    display: flex;
    direction: rtl;
    position: relative;
}

div.product-info-2 img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: flex;
}

.product-price-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.product-price-box .title {
    font-size: 12px;
}

div.product-info-2 .product-price-box .title {
    font-size: 16px;
}

.product-price-box .price {
    color: var(--main-color);
    font-size: 15px;
}

.product-price-box .addToCart {
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 8px 25px;
    cursor: pointer;
}

.product-price-box .addToCart2 {
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.product-price-box .addToCart2:hover {
    width: 30%;
}


/** product item */

div.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: .5rem;
    align-items: start;
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
}

div.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.product-item {
    position: relative;
}

div.product-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 20px;
}

div.product-item .product-price-box .price {
}


/* * category */

div.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: .5rem;
    align-items: start;
}

div.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .1);
}

span.category-title {
    color: var(--main-color);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

/*div.category-item::after {*/
/*    content: "";*/
/*    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .4) 90%);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*}*/

div.category-banner {
    width: 100%;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

div.category-banner span {
    color: white;
    position: absolute;
    z-index: 5;
    bottom: 15px;
    font-size: 20px;
}

/*div.category-banner::after {*/
/*    content: "";*/
/*    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, .4) 90%);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*}*/

img.category-cover {
    width: 100%;
    height: 75px;
    object-fit: contain;
}


.sub-category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    color: var(--main-color);
}
